/* .display_products{

    width: 1350px;
    height: auto;
    background-color: cornflowerblue;
    margin-top: 75px;
    margin-left: 75px;
    display: inline-flex;
}

.product_box{
    width: 450px;
    height: 350px;
    background-color: brown;
    margin-left: 20px;
    margin-top: 20px;
}

.img_fream{

    width: 400px;
    height: 175px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: blueviolet;
}

.row_product_list
{
    display: inline-flex;
    margin-top: 30px;
}
 */





 .service{

    width: 1200px;
    height: 475px;
    background-color:var(--bs-gray-700);
    display: inline-flex;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
 }

 .img-box{

    width: 665px;
    height: 350px;
    background-color: aquamarine;
    margin-left: 55px;
    margin-top: 40px;
    border-radius: 15px;

 }

 .service-details{
    width: 365px;
    height: 400px;
    background-color:var(--bs-gray-300);
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    border-radius: 15px;
 }

 .detial_box
 {
    width: 335px;
    height: 370px;
    margin-left: 15px;
    margin-top: 15px;
 }

 .services-container
 {
    width: 1300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: var(--bs-gray-500);
    border-radius: 15px;

 }

 .edit-btn
 {
    width: 120px;
    height: 50px;
    background-color: cornflowerblue;
    margin-left: -1090px;
    margin-top: 410px;
    border-radius: 10px;
 }

 .edit-btn:hover{

    background-color:rgb(67, 128, 242) ;
 }

 .delete-btn{

   width: 120px;
    height: 50px;
    background-color: cornflowerblue;
   margin-left: 20px;
    margin-top: 410px;
    border-radius: 10px;

 }
 .delete-btn:hover{

   background-color:rgb(67, 128, 242) ;
 }