
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-menu a:hover {
    background-color: #555;
}

.navbar-dropdown {
    position: relative;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    padding: 10px;
    top: 100%;
    left: 0;
    min-width: 165px;
    border-radius: 5px;
    margin-top: 10px;
    
}

.navbar-dropdown-content a {
    display: block;
    padding: 8px 0;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    margin-right: 110px;
}

.navbar-buttons button {
    width: 90px;
    background-color: #00ff2fe7;
    color: #333;
    border: none;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-buttons button:hover {
    background-color: #ddd;
}


.container{
	padding-top: 90px; 
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  select {
    height: 40px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  
  textarea {
    height: 100px;
  }
  

  .form-container
  {
    width: 480px;
    height: auto;
    margin-top: 120px;
    margin-left: 40px;
    background-color: #55555570;
    padding: 20px;
    border-radius: 10px;

  }
  .form-info
  {
    margin-left: 30px;
    margin-top: 30px;
  }
